<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{{itemDetails.name}}</title>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Chivo+Mono&family=VT323&display=swap" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="https://content.w3bg0r3.gallery/item-details-stylesheet.css">
        <style id="item-nav-toggle-rules">
            {{#each itemDetails.filenames}}
                #button-{{@index}}:checked ~ #label-background-{{@index}} {
                    opacity: 1;
                    visibility: visible;
                }
                #button-{{@index}}:checked ~ #filename-{{@index}} {
                    display: block;
                }
            {{/each}}
        </style>
    </head>
    <body id="item-details-body">
        <main>
            <a id="back-button" href="http://127.0.0.1:8080/page/{{currentPage}}">⇦ back</a>
            {{> item_details_partial}}
        </main>
    </body>
</html>